<ion-view view-title="Trail Guide" class="marker-page">
  <ion-content>
    <div id="MarkerInfoMainPage">
      <h2 class="item item-icon-left item-icon-right marker-select">Marker:
        <i class="icon ion-arrow-left-c" ng-click="previousMarker()"></i>
        <select id="MarkerSelect" ng-model="marker" ng-change="updateCurrent(marker.id)" ng-options="marker.id for marker in markers"></select>
        <i class="icon ion-arrow-right-c" ng-click="nextMarker()"></i>
      </h2>
      <div class="marker" align="fill">
        <h3 align="center">{{markers[currentMarker].title}}</h3>
        <p align="left" ng-bind-html="markers[currentMarker].body"></p>
      </div>
    </div>
  </ion-content>
</ion-view>
